
body{
    font-family: Verdana,Arial,Helvetica,sans-serif;
}

.dropsearch{}
.dropsearch option{}
.dropsearch select{}

.mblock{    border: 1px solid rgba(204, 204, 204, 0.45);
    border-radius: 2px;}
.mblock img{    padding-top: 5px;}
.mblock p{}
.advi {}
.advi p{}
.advi img{
    height: 150px;
    width: 135px;
    border-radius: 5px;
    padding: 2px;
    border: 2px solid #000;
}
.advi ul li{}
.advi ul li:first-child{    color: #444444;
    font-size: 20px;
    font-weight: bold;}
.advi ul{    padding-bottom: 10px;}
.adminblock{    border: 1px solid rgba(204, 204, 204, 0.35);
    padding: 10px 0px;}
.folw{}
.folw p:first-child{}
.folw{}
.dashbord {
    background: #039a1a;
    margin-left: 270px;
}

.headimg {}
.headimg img{margin-bottom: 0px;}
.navmenu {
    background: #1d732a;
    border: 1px solid rgb(18, 144, 54);
    border-color: 1px solid #00569d;
}

.navmenu ul li{
    border-radius: 2px;
}
.navmenu ul li:hover{

}

.navmenu ul li a{

    color: #fff;
    font-family: inherit;
    text-transform: capitalize;
    font-size: 14px;
}


.navmenu ul li a:hover{}
.menutext a{}
.menutext a:hover{}
.menuitem {}
.menuitem ul{
    border-top: 2px solid darkseagreen;
    background: #f5f5f5;
    border-radius: 2px;
}
.menuitem ul li{
    padding: 0px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.55);
}
.menuitem ul li a{
    color: #333;
    font-size: 13px;
}


.menuitem ul li a:hover{
 background:#1d732a;
 color:#fff;
 font-size:14px;
}

.slideimg{}
.slideimg img{}

.mainbody{padding: 0px 5px;
    background: rgba(237, 236, 233, 0.22);}

.event{
    padding:0px;
    background: #fff;
}
.event p{
    background: #444444;
    color: #fff;
    padding: 5px;
    margin-bottom: -13px;
}
.event ul{
    height: 250px;
    overflow: overlay;
}
.event ul li{
    padding-left: 6px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.48);
    padding: 4px 10px;
}
.event ul li a{}
.event ul li a:hover{color:#000000;text-decoration:none}
.event span{
    font-size: 12px;
    font-style: italic;
    color: cadetblue;
}
.midsection {}
.midsection h3{
    background: white;
    padding: 10px 15px;
    margin-bottom: -17px;
    border: 1px solid rgba(204, 204, 204, 0.26);
}
.midsection p{
    font-size:13px;
    background: white;
    padding: 5px 15px;
    border: 1px solid rgba(204, 204, 204, 0.26);
}
.midsection1{
    padding: 0px;
    /* background: url(../images/nt.png)repeat no-repeat 0 0 #fff; */
    width: 100%;
    background-position: center;
}

.midsection1 h3{
    background: #444444;
    color: #fff;
    padding: 5px;
    margin-bottom: 0px;
}
.midsection1 img{}
.midsection1 p{
    padding: 0px 8px;
    font-size: 13px;
}
.midsection1 span{
    padding-left: 20px;
    font-weight:600;
    font-style:oblique;
}

.midsection1 span a{}
.midsection1 span a:hover{color:#0033CC}
.midsection1 i{}

.quicklink{padding:0px;
    background: #fff;}

.quicklink p{
    background: #444444;
    color: #fff;
    padding: 5px;
    margin-bottom: -13px;
}
.quicklink ul{
    margin-top: 13px;
    border: 1px solid rgba(204, 204, 204, 0.49);
}

.quicklink ul li{
    background: rgb(249, 249, 248);
    padding-left: 6px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.41);
    padding: 4px 10px;
}
.quicklink i{ color: #1d732a;}
.quicklink i:hover{color: #fff;}

.quicklink ul li a{
    color: #000000;
    font-size: 13px;

}
.quicklink ul li a:hover{
    color:#000;
    font-size:14px;
    text-decoration:none;

}

.quicklink ul li:hover{
    background:#CCCCCC;
}
.buttn {
    background: #1d732a;
    padding: 10px;
    border-radius: 2px;
}
.buttn a{
    color: #fbfbfa;
    font-size: 20px;
    /* font-style: oblique; */
    font-family: -webkit-pictograph;
}
.buttn a:hover{}

.healthtips{
    border: 1px solid rgba(204, 204, 204, 0.27);
    padding: 0px 0px 10px 0px;
    background: #fff;
}
.headsection {
    background: #24582b;
    border-top: 3px solid orange;
}
.headsection img{}

.healthtips p{
    background: #444444;
    color: #fff;
    padding: 5px;
    margin-bottom: 0px;
    border-bottom: 1px solid rgba(162, 199, 95, 0.38);
}

.healthtips img{
    width: 100%;
    height: 180px;}

.healthtips h4{
    margin-top: 5px;
    text-align: justify;
    padding-left: 5px;
}
.healthtips h4 a{}
.healthtips h4 a:hover{color:#000099}
.healthtips h5{
    padding: 4px 5px;
    margin-top: -15px;
}
.chairman{}
.chairman img{
    height: 150px;
    width: 150px;
    border: 1px solid #d85030;
    border-radius: 50%;
}
.ev img{    height: 180px;
    width: 100%;}
.ev p{background: none;}

.footersection img{
    background: #fff;
    padding: 10px;
    width: 300px;
    height: 140px;
    border-radius: 5px;
}
.footersection span{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
.ftblock{
    padding-top: 10px;
    background: #444;
    margin-top: -15px;
    border-top: 2px solid #efff00;
    padding-bottom: 10px;
}
.copy{color: #04ecef;}
.footersection ul{}
.footersection li{color: aliceblue;}

.visit{border: 1px solid #eaeae9;
    padding: 10px;}
.visit ul{}
.visit ul li{    line-height: 25px;
    font-size: 13px;}

.visit ul li a{    color: #333;
    font-family: inherit;}
.notice{ background: #e6eaec;
    text-align: -webkit-center;
    border-top: 1px solid rgba(37, 23, 23, 0.06);
    border-bottom: 1px solid rgba(37, 23, 23, 0.06);
}

.notice p{    padding: 10px;
    color: #000;
}
.notice span{}
.notice a {
    border-radius: 0px;
    background: #24582b;
    padding: 7px 30px 10px 30px;
    color: #fff;
}
.notice a:hover{}

.notice li{margin-top: 12px;}
.galary img{height: 150px;
    width: 100%;}
.galary{}

a:hover, .uk-link:hover {
    color: blue;
    text-decoration: underline;
}

.pagination{
    margin-top: 20px;
    text-align: -webkit-center;
}
.pagination a{
    border: 1px solid #ccc;
    padding: 6px 11px;
    border-radius: 6px;
}
.pagination strong{
    border: 1px solid blue;;
    padding: 6px 11px;
    color:#FFFFFF;
    border-radius: 6px;
    background:blue;
}

.pagination a:hover{
    color: rgba(255, 255, 255, 0.99);
    background: blue;
    border: 1px solid blue;
}
