@page { size: A4 }
@media screen {
.main_content {
  width: 100%;
height: 100%;
  box-sizing: border-box;
border: 5px #538cc6 solid;
}

.body_content{
  width: 100%;
height: 100%;
  box-sizing: border-box;
border: 5px #ff8080 solid;
}

  #header{
 width:100%;
 box-sizing: border-box;
 height: 170px;
}
.header-left {
  width:55%;
  float:left;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  line-height: 0.3;
}
.logo {
  width:20%;
  float:left;
  height: 100%;
  box-sizing: border-box;
      text-align: center;
}
.header-right {
  width:25%;
  float:left;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
}
.clr{ clear:both;}


 .frame{
      width: 100%;
      height: 100%;
      margin: auto;
      position: relative;
  }
  .log_frame{
      width: 100%;
      height: 100px;
      margin: auto;
      position: relative;
  }
  img{
      max-height: 100%;
      max-width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
  }

.gpa_table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 90%;
  height: auto;
  position: relative;
  top:10px;
}

table, td, th {
  border: 1px solid black;
  font-size: 13px;
}

#student_info{
 width:100%;
 box-sizing: border-box;
 height: 200px;
}

#summary_info{
 width:100%;
 box-sizing: border-box;
 height: auto;
}

.summery_info-left {
  width:25%;
  float:left;
  height: 100%;
  box-sizing: border-box;
  text-align: left;
  margin-top: 13px;
  margin-left: 5px;
  padding: 0px;
}

.summery_info-middle {
  width:50%;
  float:left;
  height: 100%;
  box-sizing: border-box;
  text-align: left;
  margin-top: 13px;
  margin-left: 5px;
  padding: 0px;
}

.summery_info-right {
  width:25%;
  float:left;
  height: 100%;
  box-sizing: border-box;
  text-align: left;
  margin-top: 13px;
  margin-left: 5px;
  padding: 0px;
}

.summery_info-right1{
  width:20%;
  float:left;
  height: 100%;
  box-sizing: border-box;
  text-align: left;
  margin-top: 13px;
  margin-left: 5px;
  padding: 0px;
}

.student_info-left {
  width:100%;
  float:left;
  height: 100%;
  box-sizing: border-box;
  text-align: left;
}

.student_info_table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 98%;
  height: auto;
  position: relative;
}

#student_exam_info{
 width:100%;
 box-sizing: border-box;
 height: auto;

}

.exam_info-left {
  width:100%;
  float:left;
  height: 100%;
  box-sizing: border-box;
  text-align: left;
}

.mark_info_table{
  border-collapse: collapse;
  margin: 0 auto;
  margin-top:10px;
  width: 98%;
  height: auto;
  position: relative;
}

.subject_info_table{
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
  height: auto;
  position: relative;
}

.td_center{
  text-align: center;
  padding: 1px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.td_right{
  text-align: right;
  padding: 1px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.td_left{
  text-align: left;
  padding: 1px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.td_backgroud{
  background-color: #d9e6f2;
  font-weight: bold;
}
}
