@font-face {
    font-family: 'sutonnyomjregular';
    src: url('sutonnyomj-webfont.woff2') format('woff2'),
    url('sutonnyomj-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
