////////// SIDEBAR ////////
$sidebar-width-lg: 260px;
$sidebar-width-mini: 185px;
$sidebar-width-icon: 70px;

$sidebar-dark-bg: #16192a;
$sidebar-dark-menu-color: #8f93a4;
$sidebar-dark-menu-active-bg: linear-gradient(to bottom, #d41459, #911a6c);
$sidebar-dark-menu-active-color: #fff;
$sidebar-dark-menu-hover-bg: linear-gradient(to bottom, #d41459, #911a6c);;
$sidebar-dark-menu-hover-color: #d0cfcf;
$sidebar-dark-submenu-color: $sidebar-dark-menu-color;
$sidebar-dark-submenu-hover-bg: initial;
$sidebar-dark-submenu-hover-color: #9a94a7;
$sidebar-dark-menu-icon-hover-color: #fff;
$sidebar-dark-menu-arrow-color: #424450;
$sidebar-dark-submenu-active-color: theme-color(primary);
$sidebar-dark-menu-icon-color: $sidebar-dark-menu-color;
$sidebar-dark-profile-name-color: #ffffff;
$sidebar-dark-profile-title-color: #8d9498;
$sidebbar-dark-profile-name: #fff;
$sidebar-dark-user-controll-bg:#282c44;
$sidebar-dark-menu-title: #8f93a4;

$sidebar-menu-font-size: .875rem;
$sidebar-menu-padding-left: 0.75rem;
$sidebar-menu-padding-right: 0.75rem;
$sidebar-menu-padding-top: 0.562rem;
$sidebar-menu-padding-bottom: 0.562rem;

$sidebar-submenu-padding: .25rem 0 0 2.25rem;
$sidebar-submenu-font-size: .875rem;
$sidebar-submenu-item-padding: .5rem .5rem;

$sidebar-icon-font-size:  1.125rem;
$sidebar-arrow-font-size: .625rem;

$sidebar-profile-bg: transparent;
$sidebar-profile-padding: 0 1.625rem 2.25rem 1.188rem;

$sidebar-mini-menu-padding: .8125rem 1rem .8125rem 1rem;

$sidebar-icon-only-menu-padding: .5rem 1.625rem .5rem 1.188rem;
$sidebar-icon-only-submenu-padding: 0 0 0 1.5rem;

$sidebar-box-shadow: 6px 16px 31px -18px #e0e0e0;

$rtl-sidebar-submenu-padding: 0 4.5rem 0 0;

$icon-only-collapse-width: 190px;
$icon-only-menu-bg-light: $sidebar-dark-bg;
$icon-only-menu-bg-dark: $sidebar-dark-bg;

///////// SIDEBAR ////////

///////// BOXED LAYOUT ///////
$boxed-container-width: 1200px;
$boxed-layout-bg: #c6c8ca;
///////// BOXED LAYOUT ///////

///////// SETTINGS PANEL ////////

$settings-panel-width: 300px;

///////// NAVBAR ////////

$navbar-default-bg: #fff;
$navbar-height: 56px;
$navbar-menu-color: #8a8a8a;
$navbar-font-size: 0.875rem;
$navbar-icon-font-size: 1.125rem;
$navbar-icon-color: #8a8a8a;
$navbar-toggler-bg: #0f111d;
$navbar-placeholder-color: #8a8a8a;
$navbar-brand-wrapper-bg:#16192a;
$navbar-menu-wrapper-inner-bg:#16192a;
$navbar-search-color: #8a8a8a;

///////// NAVBAR ////////